body {
    max-width: 900px;;
}

h1 {
    color: green;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px
}

h2 {
    color: darkgreen;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 24px
}

image {
    height: 400px;
    width: 100%;
}

a {
    color: green;
    font-weight: bold;
}

li {
    font-size: 16px;
}

.recipe-list {
    display: block;
    background-color: rgb(240, 239, 239, 0.219);
    list-style-type: none;
    padding: 4px 16px;
    margin: 0 auto;
    border-radius: 8px;
}

.header {
    background-color: rgba(240, 239, 239, 0.219);
    padding: 4px 16px;
    margin-bottom: 12px;
    border-radius: 8px;
}