body {
    max-width: 900px;;
}

h1 {
    color: green;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px
}

image {
    height: 400px;
    width: 100%;
}

a {
    color: green;
    font-weight: bold;
}

li {
    font-size: 16px;
}